html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    width: 980px;
    margin: 0 auto;
}

main {
    flex: 1 1 auto;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    background: black;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
}

.footer-link {
    padding: 0 12px;
    margin: 12px;
    background: yellowgreen;
}

.created {
    align-self: flex-end;
    color: yellowgreen;
    padding: 0 12px;
    margin: 12px;
    font-weight: 700;
}

header {
    display: flex;
    flex-direction: row;
}

.portrait {
    margin: 24px;
    width: 144px;
    height: 144px;
    border: solid 4px black;
    background: black;
}

.portrait > img {
    width: 100%;
    height: auto;
}

section > h3, h4, h5 {
    font-size: 1.2em;
    font-weight: 700;
    color: yellowgreen;
    background: black;
    padding: 8px 24px;
}